
  
  .information{
    display: flex;
    text-align: center;
    justify-content: flex-start;

    /* transform: translate(-50%, -50%); */
    /* left: auto; */
    /* right: 50%; */
  }

  .content__img img{
    width: 60%;
    height: auto;
  }
  
  .logo img{
    width: 180px;
    height: 180px;
    border: 2px double grey;
    border-radius: 50%;
    padding: 5px;
  }
  
  .information__description{
    color: #000;
  }