.grid{
    display: grid;
    grid-template-columns: 4fr 10fr;
}
/* .activeLink{
} */

.wrap_cont{
    display: grid;
    grid-template-columns: 8fr 5fr 3fr 5fr 5fr ;
    grid-gap: 30px;
    justify-content: space-around
}
.user_wrap{
    width: 150px;
    padding: 10px;
    border: 1px dotted black;
    overflow: hidden;
}
.h3{
    color: #FF1519;
    font-size: 4rem;
    text-align: center;
}
h2{
    color: red
}
.img{
    width: 150px;
    height: 150px;
    box-shadow: 0px 5px 10px black;
}
.img:hover{
    filter: grayscale(.75);
    transition: 1.25 ease
}
.located{
    font-size: 1.1rem;
    font-weight: bold;
}
.status{
    font-weight: bolder;
}
.showMoreWrap{
    display: flex;
    justify-content: center;
}
.showMoreWrap button{
    margin-top: 70px;
    margin-bottom: 30px;
    background: #000;
}
.showMoreWrap button:hover{
    background:#504DF3;
}
.showMoreWrap button span{
    font-size: 18px;
}
