.message_item {
    background: rgba(255, 0, 0, 0.178);
    margin-top: 50px;
    width: 70%;
    box-shadow: 0px 0px 15px black;
    border-top-left-radius: 10px;

}

.text_wrap{
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    background: rgba(16, 0, 247, 0.137);
}

.text_wrap__two{
    display: flex;
    justify-content: flex-end;
    padding-left: 20px;
    background: rgba(0, 0, 0, 0.116);
}

.circle{
    width: 10px;
    height: 10px;
    background: rgb(3, 112, 255);
    align-self: center;
    border-radius: 50%;
    border: dotted 1px #000;
}

.circle_two{
    width: 10px;
    height: 10px;
    background: rgb(11, 255, 3);
    align-self: center;
    border-radius: 50%;
    border: dotted 1px #000;
}

.message_item i {
    display: block;
    color: rgb(134, 4, 4);
    padding: 20px;
    text-transform: lowercase;
}

.text_wrap__two i{
    color: rgb(0, 112, 6);
}

.message_item b{
    display: block;
    width: 80px;
    padding: 5px;
    background: rgb(202, 136, 136);
    border-top-left-radius: 10px;
}

.message_item textarea{
    display: block;
    width: 97%;
    padding: 10px;
    /* font-size: 18px; */
}