.nav{
    grid-area: n;
    background-color: rgb(0, 0, 0);
    padding: 1em;
  }
  
  a{
    display: block;
    color: white;
    font-size: 20px;
    font-family: serif;
    text-transform: uppercase;
    transition: 0.5s ease;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 4px;
  }
  
  a:hover{
    color: rgb(31, 159, 217);
    font-size: 22px;
    letter-spacing: 5px;
  }
  
  .nav__item_active{
    color: rgb(6, 108, 155);
  }