.dialog_Wraper {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {
    position: relative;
}

.dialog h1 {
    color: chocolate;
    margin-top: 50px;
    padding: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dialog__messages {
    /* padding: 50px; */
    margin: 0 auto;
    padding-top: 100px;
}

.dialog a:hover {
    color: rgb(31, 159, 217);
    font-size: 22px;
    letter-spacing: 2px;
}