.dialog_wraper {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog__messages {
    /* padding: 50px; */
    margin: 0 auto;
    padding-top: 100px;
}

.dialog a:hover {
    color: rgb(31, 159, 217);
    font-size: 22px;
    letter-spacing: 2px;
}