.activeLink {
    color: rgb(31, 159, 217);
}

a:hover {
    color: rgb(31, 159, 217);
}

.friends{
    margin-top: 35px;
}
p{
    text-transform: none;
}
.friend__wraper{ 
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}