.news{
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    /* background: red; */
    color: black;
}
 h1{
     text-align: center;
    color: crimson;
    text-transform: uppercase;
    font-size: 70px;
    padding: 50;
}

.news img{
    width: 240px;
    height: 200px;
    border-radius: 50%
}