a{
  text-decoration: none;
  list-style: none;
}

.menu__item a{
  color: #ffe604;
  text-transform: uppercase;
  letter-spacing: 7px;
  transition: .3s ease;
}

.menu__item a:hover{
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 3px;
}

.App-header {
  background-color: rgb(1, 2, 37);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #88b60b;
  text-align: center;
}

.footer{
  color: aqua
}
