body{
  background-color: black
}

a{
  text-decoration: none;
  list-style: none;
}

.app-wrapper{
  display: grid;
  grid-template-areas: 'h h'
                       'n c';
  grid-template-columns: 1.5fr 13fr;
  /* grid-gap: 1px; */
}


